.footer {
  background: rgb(226, 239, 255);
  text-align: center;
  bottom: 0;
  position: relative;
  p {
    padding: 20px 0;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: capitalize;
  }
}
